<header
  class="sticky-top d-flex justify-content-between px-4 py-2 bg-primary bg-gradient text-light"
>
  <div style="font-weight: 600" class="p-1">Employee Management</div>

  <nav class="d-flex justify-content-between align-items-center text-light">
    <a
      (click)="onLogin()"
      [ngClass]="
        state === '/login'
          ? 'rounded p-1 border border-success text-light bg-info bg-gradient me-2'
          : 'text-light me-2 p-1'
      "
    >
      {{ state == "/login" ? "Login" : "Logout" }}
    </a>
    <a
      routerLink="/employee/list"
      [ngClass]="
        state === '/employee/list'
          ? 'rounded p-1 border border-success text-light bg-info bg-gradient'
          : 'text-light p-1'
      "
    >
      Employee
    </a>
  </nav>
</header>
