<section class="background-section">
  <div class="px-5 pt-5">
    <div class="container-fluid">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="mb-3">
          <button class="btn btn-primary" (click)="createEmployee()">
            + Employee
          </button>
        </div>
        <div class="col-12 col-md-5 d-flex justify-content-end gap-4 mb-3">
          <div class="input-group">
            <input
              class="form-control"
              type="text"
              placeholder="Username"
              [(ngModel)]="searchUsername"
              (input)="resetSearchUsername()"
            />

            <input
              class="form-control w-15"
              type="text"
              placeholder=" Status"
              [(ngModel)]="searchStatus"
              (input)="resetSearchStatus()"
            />
            <button class="btn btn-primary" (click)="searchEmployees()">
              Search
            </button>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-2 mb-3">
          <div class="row justify-content-start">
            <div class="col-4 col-sm-3 col-md-6">
              <div class="dropdown">
                <button
                  [disabled]="itemsPerPageOptions.length == 0"
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  id="dropdownMenuButtonItems"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  {{ itemsPerPage }} items
                </button>
                <ul
                  class="dropdown-menu"
                  aria-labelledby="dropdownMenuButtonItems"
                >
                  <li
                    *ngFor="let number of itemsPerPageOptions"
                    [value]="number"
                  >
                    <p
                      (click)="changeItemsPerPage(number)"
                      class="dropdown-item"
                    >
                      {{ number }}
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-4 col-sm-3 col-md-6">
              <div class="dropdown">
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  id="dropdownMenuButtonSort"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Sort by {{ currentSortLabel | titlecase }}
                </button>
                <ul
                  class="dropdown-menu"
                  aria-labelledby="dropdownMenuButtonSort"
                >
                  <li (click)="sortEmployees('id', 'ID')">
                    <a class="dropdown-item">ID</a>
                  </li>
                  <li (click)="sortEmployees('username', 'Username')">
                    <a class="dropdown-item">Username</a>
                  </li>
                  <li (click)="sortEmployees('fullName', 'Full Name')">
                    <a class="dropdown-item">Full Name</a>
                  </li>
                  <li (click)="sortEmployees('email', 'Email')">
                    <a class="dropdown-item">Email</a>
                  </li>
                  <li (click)="sortEmployees('status', 'Status')">
                    <a class="dropdown-item">Status</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row table-responsive">
        <table class="table table-light table-hover table-striped">
          <thead>
            <th>Id</th>
            <th>Username</th>
            <th>Full Name</th>

            <th>email</th>

            <th>Status</th>
            <th>Action</th>
          </thead>

          <tbody>
            <tr *ngIf="filteredEmployees.length === 0">
              <td colspan="5" rowspan="5" class="text-center p-10">
                No users found.
              </td>
            </tr>
            <tr
              *ngFor="
                let employee of filteredEmployees
                  | paginate
                    : { itemsPerPage: itemsPerPage, currentPage: currentPage }
              "
            >
              <td>{{ employee.id }}</td>
              <td>{{ employee.username }}</td>
              <td>{{ employee.firstName + " " + employee.lastName }}</td>

              <td>{{ employee.email }}</td>

              <td>{{ employee.status }}</td>
              <td>
                <div class="d-flex gap-3">
                  <div>
                    <button
                      (click)="detailEmployee(employee)"
                      class="border-1 rounded border-secondary bg-secondary"
                    >
                      <i class="bi bi-eye-fill white"></i>
                    </button>
                  </div>
                  <div>
                    <button
                      (click)="editEmployee(employee)"
                      class="border-1 border-warning rounded bg-warning"
                    >
                      <i class="bi bi-pencil-square white"></i>
                    </button>
                  </div>
                  <div>
                    <button
                      (click)="deleteEmployee(employee)"
                      class="border-1 rounded border-danger bg-danger"
                    >
                      <i class="bi bi-trash-fill white"></i>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        *ngIf="!(filteredEmployees.length === 0)"
        class="d-flex justify-content-end mt-4"
      >
        <pagination-controls
          (pageChange)="currentPage = $event"
        ></pagination-controls>
      </div>
      <div
        class="toast-container position-fixed start-0 p-3"
        style="z-index: 11"
      >
        <div
          *ngFor="let toast of toasts"
          [ngClass]="{
            'bg-warning': toast.type === 'edit' || toast.type === 'search',
            'bg-danger text-white': toast.type === 'delete'
          }"
          class="toast align-items-center text-white border-0 show"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
        >
          <div class="d-flex">
            <div class="toast-body">
              {{ toast.message }}
            </div>
            <button
              type="button"
              class="btn-close btn-close-white me-2 m-auto"
              (click)="removeToast(toast)"
              aria-label="Close"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
