<section class="background">
  <div class="layer d-flex justify-content-center align-items-center">
    <div class="row" style="width: 560px">
      <div class="login-form mw-100">
        <h2>Welcome,</h2>
        <h2>please login before take action with your work</h2>
        <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="row g-3">
          <div class="form-group">
            <label class="form-label" for="email">Email</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              name="email"
              class="form-control"
              email
              required
              [class.is-invalid]="
                signinForm.get('email')?.invalid &&
                signinForm.get('email')?.touched
              "
            />
            <div
              class="invalid-feedback"
              *ngIf="
                signinForm.get('email')?.invalid &&
                signinForm.get('email')?.touched
              "
            >
              <span *ngIf=" signinForm.get('email')?.errors?.['required']  ">
                This field is required!
              </span>
              <span *ngIf=" signinForm.get('email')?.errors?.['email']">
                Must email format!
              </span>
              <span *ngIf=" signinForm.get('email')?.errors?.['maxlength']">
                max character is 30
              </span>
            </div>
          </div>

          <div class="form-group py-2">
            <label class="form-label" for="password">Password</label>
            <div class="input-group has-validation">
              <input
                [type]="passwordFieldType"
                id="password"
                name="password"
                formControlName="password"
                class="form-control"
                required
                [class.is-invalid]="
                  signinForm.get('password')?.invalid &&
                  signinForm.get('password')?.touched
                "
              />
              <div class="input-group-append">
                <span
                  class="input-group-text"
                  (click)="togglePasswordVisibility()"
                >
                  <i
                    [class]="
                      passwordFieldType === 'password'
                        ? 'bi bi-eye-slash-fill'
                        : 'bi bi-eye-fill'
                    "
                  ></i>
                </span>
              </div>

              <div
                class="invalid-feedback"
                *ngIf="
                  signinForm.get('password')?.invalid &&
                  signinForm.get('password')?.touched
                "
              >
                <span *ngIf=" signinForm.get('password')?.errors?.['required']">
                  This field is required!
                </span>
                <span
                  *ngIf=" signinForm.get('password')?.errors?.['maxlength']"
                >
                  contain a maximum of 40 characters
                </span>
                <span
                  *ngIf=" signinForm.get('password')?.errors?.['minlength']"
                >
                  contain a minimum of 8 characters
                </span>
                <span *ngIf=" signinForm.get('password')?.errors?.['pattern']">
                  Password must contain at least one number, one uppercase and a
                  lowercase letter,a special characters and Password cannot
                  contain whitespace
                </span>
              </div>
            </div>
          </div>

          <button
            [ngClass]="
              signinForm.valid
                ? 'btn btn-primary btn-block w-25'
                : 'btn btn-secondary disabled btn-block w-25'
            "
            type="submit"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
