.background {
  background-image: url("../../../assets/background-2.jpg");
  background-color: azure;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 95%;
}
.layer {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
