<div class="background">
  <section class="layer w-100 row p-4">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-9 col-md-7 col-lg-6">
        <div *ngIf="isError" class="alert alert-danger z-10" role="alert">
          Create employee has failed, please try again!
        </div>
        <form #employeeForm="ngForm" class="card p-4" (ngSubmit)="submitForm()">
          <h2>Create Employee</h2>
          <div class="row">
            <div class="mb-3 col-12 col-lg-6">
              <label for="firstName" class="form-label">First Name</label>
              <input
                type="text"
                id="firstName"
                name="firstName"
                class="form-control"
                [(ngModel)]="employeeData.firstName"
                required
              />
              <div
                *ngIf="
                  employeeForm.submitted ||
                  employeeForm.controls['firstName']?.touched
                "
              >
                <div
                  *ngIf="employeeForm.controls['firstName']?.errors?.['required']"
                  class="text-danger"
                >
                  First Name is required
                </div>
              </div>
            </div>
            <div class="mb-3 col-12 col-lg-6">
              <label for="lastName" class="form-label">Last Name</label>
              <input
                type="text"
                id="lastName"
                name="lastName"
                class="form-control"
                [(ngModel)]="employeeData.lastName"
                required
              />
              <div
                *ngIf="
                  employeeForm.submitted ||
                  employeeForm.controls['lastName']?.touched
                "
              >
                <div
                  *ngIf="employeeForm.controls['lastName']?.errors?.['required']"
                  class="text-danger"
                >
                  Last Name is required
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-12 col-lg-6">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                id="username"
                name="username"
                class="form-control"
                [(ngModel)]="employeeData.username"
                required
              />
              <div
                *ngIf="
                  employeeForm.submitted ||
                  employeeForm.controls['username']?.touched
                "
              >
                <div
                  *ngIf="employeeForm.controls['username']?.errors?.['required']"
                  class="text-danger"
                >
                  Username is required
                </div>
              </div>
            </div>
            <div class="mb-3 col-12 col-lg-6">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                [(ngModel)]="employeeData.email"
                required
                email
              />
              <div
                *ngIf="
                  employeeForm.submitted ||
                  employeeForm.controls['email']?.touched
                "
              >
                <div
                  *ngIf="employeeForm.controls['email']?.errors?.['required']"
                  class="text-danger"
                >
                  Email is required
                </div>
                <div
                  *ngIf="employeeForm.controls['email']?.errors?.['email']"
                  class="text-danger"
                >
                  Invalid email format
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-12 col-lg-6">
              <label for="birthDate" class="form-label">Birth Date</label>
              <input
                type="date"
                id="birthDate"
                name="birthDate"
                class="form-control"
                [(ngModel)]="employeeData.birthDate"
                required
                [max]="today"
                (input)="validateDate()"
              />
              <div *ngIf="birthDateInvalid" class="text-danger">
                Birth date cannot be in the future.
              </div>
            </div>
            <div class="mb-3 col-12 col-lg-6">
              <label for="basicSalary" class="form-label">Basic Salary</label>
              <input
                type="number"
                id="basicSalary"
                name="basicSalary"
                class="form-control"
                [(ngModel)]="employeeData.basicSalary"
                required
                min="0"
              />
              <div
                *ngIf="
                  employeeForm.submitted ||
                  employeeForm.controls['basicSalary']?.touched
                "
              >
                <div
                  *ngIf="employeeForm.controls['basicSalary']?.errors?.['required']"
                  class="text-danger"
                >
                  Basic Salary is required
                </div>
                <div
                  *ngIf="employeeForm.controls['basicSalary']?.errors?.['min']"
                  class="text-danger"
                >
                  Basic Salary must be a positive number
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-12 col-lg-6">
              <label for="status" class="form-label">Status</label>
              <input
                type="text"
                id="status"
                name="status"
                class="form-control"
                [(ngModel)]="employeeData.status"
                required
              />
              <div
                *ngIf="
                  employeeForm.submitted ||
                  employeeForm.controls['status']?.touched
                "
              >
                <div
                  *ngIf="employeeForm.controls['status']?.errors?.['required']"
                  class="text-danger"
                >
                  Status is required
                </div>
              </div>
            </div>
            <div class="mb-3 col-12 col-lg-6">
              <label for="group" class="form-label">Group</label>
              <input
                type="text"
                id="group"
                name="group"
                class="form-control"
                [(ngModel)]="employeeData.group"
                required
                (input)="filterGroups($event)"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                [displayWith]="displayGroup"
              >
                <mat-option
                  *ngFor="let group of filteredGroups"
                  [value]="group"
                >
                  {{ group }}
                </mat-option>
              </mat-autocomplete>
              <div
                *ngIf="
                  employeeForm.submitted ||
                  employeeForm.controls['group']?.touched
                "
              >
                <div
                  *ngIf="employeeForm.controls['group']?.errors?.['required']"
                  class="text-danger"
                >
                  Group is required
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
              id="description"
              name="description"
              class="form-control"
              [(ngModel)]="employeeData.description"
              required
              maxlength="500"
              (input)="updateCharacterCount()"
            ></textarea>
            <div
              *ngIf="
                employeeForm.submitted ||
                employeeForm.controls['description']?.touched
              "
            >
              <div
                *ngIf="employeeForm.controls['description']?.errors?.['required']"
                class="text-danger"
              >
                Description is required
              </div>
            </div>
            <small class="text-muted"
              >{{ remainingCharacters }} characters remaining</small
            >
          </div>
          <div class="row">
            <div class="col-auto p-2">
              <button
                type="submit"
                [ngClass]="
                  employeeForm.valid
                    ? 'btn btn-success '
                    : 'btn btn-secondary disabled '
                "
              >
                Submit
              </button>
            </div>
            <div class="col-auto p-2">
              <button
                type="button"
                class="btn btn-secondary"
                (click)="onCancel()"
              >
                Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
