.toast-warning {
  background-color: #ffc107 !important;
  color: #000 !important;
  opacity: 1 !important;
}

.toast-error {
  background-color: #dc3545 !important;
  color: #fff !important;
  opacity: 1 !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
