* {
  font-family: sans-serif;
}

.background-section {
  background-color: #f6f5f5;
  height: 95%;
  overflow-y: auto;
}

.label {
  font-weight: 500;
  letter-spacing: 1px;
  color: #b4b4b3;
  font-size: 1rem;
}
.value {
  font-weight: 400;
  color: #607274;
  font-size: 1rem;
}

.card-shadow {
  box-shadow: 17px 17px 16px 0px rgba(0, 0, 0, 0.3);
}
