<section class="background-section">
  <div class="row p-4 justify-content-center">
    <div class="mb-2 d-flex align-items-center" style="margin-left: 23.3%">
      <button class="btn rounded btn-secondary" (click)="goBack()">
        <i class="bi bi-arrow-left"></i>
        Back
      </button>
    </div>
    <div class="card card-shadow" style="width: 75%">
      <div class="card-body">
        <div class="row">
          <div
            class="col-5 col-md-4 col-lg-3 col-xl-3 col-xxl-2 pb-4 justify-self-center me-4 mt-2"
          >
            <div class="">
              <img
                class="rounded img-thumbnail"
                src="../../../assets/user.png"
                alt="employee"
              />
            </div>
          </div>
          <div class="col-9">
            <h2 class="card-title">Employee Detail</h2>
            <div class="row">
              <div class="col-md-6 col-lg-5">
                <div class="mb-2 d-flex flex-column gap-3">
                  <strong class="label">Username</strong>
                  <p class="value">{{ employee?.username }}</p>
                </div>
              </div>
              <div class="col-md">
                <div class="mb-2 d-flex flex-column gap-3">
                  <strong class="label">Email</strong>
                  <p class="value">
                    {{ employee?.email }}
                  </p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6 col-lg-5">
                <div class="mb-2 d-flex flex-column gap-3">
                  <strong class="label">First Name</strong>
                  <p class="value">
                    {{ employee?.firstName }}
                  </p>
                </div>
              </div>
              <div class="col-md">
                <div class="mb-2 d-flex flex-column gap-3">
                  <strong class="label">Last Name</strong>
                  <p class="value">
                    {{ employee?.lastName }}
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-5">
                <div class="mb-2 d-flex flex-column gap-3">
                  <strong class="label">Birth Date</strong>
                  <p class="value">
                    {{ employee?.birthDate | date : "dd-MM-yyyy" }}
                  </p>
                </div>
              </div>
              <div class="col-md">
                <div class="mb-2 d-flex flex-column gap-3">
                  <strong class="label">Basic Salary</strong>
                  <p class="value">
                    Rp. {{ employee?.basicSalary | number : "1.2-2" }}
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-5">
                <div class="mb-2 d-flex flex-column gap-3">
                  <strong class="label">Status</strong>
                  <p class="value">
                    {{ employee?.status }}
                  </p>
                </div>
              </div>
              <div class="col-md">
                <div class="mb-2 d-flex flex-column gap-3">
                  <strong class="label">Group</strong>
                  <p class="value">
                    {{ employee?.group }}
                  </p>
                </div>
              </div>
            </div>

            <div class="d-flex flex-column gap-3">
              <strong class="label">Description</strong>
              <p class="value">
                {{ employee?.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
